## Flight Data Analysis Python Project
Analysis and projections of various metrics (Airline, Destination, Arrival Time, etc) for flights in India using Python.

## Import Python Libraries
Importing Pandas, MatPlotLib.Pylot, and Seaborn for effective data maniuplation and visualization.

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Load Excel Data
Importing Excel Spreadsheet for Flight Data in India

In [3]:
df = pd.read_excel('airlines_flights_data.xlsx')

## Exploring Data Frames
Displaying data to understand data formmating and structure

In [4]:
df.info()
df.head(12)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration (hrs)    300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price (INR ₹)     300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

,index,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration (hrs),days_left,price (INR ₹)
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
5,5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5955
6,6,Vistara,UK-927,Delhi,Morning,zero,Morning,Mumbai,Economy,2.08,1,6060
7,7,Vistara,UK-951,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.17,1,6060
8,8,GO_FIRST,G8-334,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5954
9,9,GO_FIRST,G8-336,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954
10,10,GO_FIRST,G8-392,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954
11,11,GO_FIRST,G8-338,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5954

## Data Cleaning
Checking for null or duplicate values

In [5]:
df[df.isnull().any(axis=1)] 
df[df.duplicated()] 
## No duplicates or null values found so no need to change original data frame.

Empty DataFrame
Columns: [index, airline, flight, source_city, departure_time, stops, arrival_time, destination_city, class, duration (hrs), days_left, price (INR ₹)]
Index: []

## Removing Index Column
Index Column not necessary

In [6]:
df_cleaned = df.drop(columns=['index'])
df_cleaned.head(12)

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration (hrs),days_left,price (INR ₹)
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955
5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5955
6,Vistara,UK-927,Delhi,Morning,zero,Morning,Mumbai,Economy,2.08,1,6060
7,Vistara,UK-951,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.17,1,6060
8,GO_FIRST,G8-334,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5954
9,GO_FIRST,G8-336,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954
10,GO_FIRST,G8-392,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954
11,GO_FIRST,G8-338,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5954

## Summary Statistics
Mean, Median, Quartiles, etc

In [7]:
df_cleaned.describe()

       duration (hrs)      days_left  price (INR ₹)
count   300153.000000  300153.000000  300153.000000
mean        12.221021      26.004751   20889.660523
std          7.191997      13.561004   22697.767366
min          0.830000       1.000000    1105.000000
25%          6.830000      15.000000    4783.000000
50%         11.250000      26.000000    7425.000000
75%         16.170000      38.000000   42521.000000
max         49.830000      49.000000  123071.000000

## Adding Price ($) Column
Adding column that has price in USD.

In [17]:
df_cleaned['price (USD $)'] = (df_cleaned['price (INR ₹)'] * .012).round(2)
df_cleaned.head(12)

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration (hrs),days_left,price (INR ₹),price (USD $)
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953,71.44
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953,71.44
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956,71.47
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955,71.46
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955,71.46
5,Vistara,UK-945,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5955,71.46
6,Vistara,UK-927,Delhi,Morning,zero,Morning,Mumbai,Economy,2.08,1,6060,72.72
7,Vistara,UK-951,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.17,1,6060,72.72
8,GO_FIRST,G8-334,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.17,1,5954,71.45
9,GO_FIRST,G8-336,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954,71.45
10,GO_FIRST,G8-392,Delhi,Afternoon,zero,Evening,Mumbai,Economy,2.25,1,5954,71.45
11,GO_FIRST,G8-338,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.33,1,5954,71.45